*.[oa]
*~
public/components/
public/
!public/index.html
vendor/
!src/FrontEnd/vendor
typings/
node_modules/
logs/
*.sublime-*
*.log
_SpecRunner.html
.vscode
database/
!database/SoulHand/cognitions.*
!database/SoulHand/courses.*
!database/SoulHand/domainslearnings.*
!database/SoulHand/events.*
!database/SoulHand/grades.*
!database/SoulHand/hiperonimos.*
!database/SoulHand/learningobjetives.*
!database/SoulHand/lexemas.*
!database/SoulHand/words.*
