html{
	overflow: hidden !important;
	background-color: #F2F2F2;
    margin: 0px;
    padding: 0px;
}
body{
	color: #5A5A5A;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0px;
	padding: 0px;
    overflow:hidden !important;
}
a{
text-decoration: none;
font-size: 1em;
color: #0095DD;
font-weight: bold;
}
a:hover{
    color: rgb(29, 89, 48);
}
div.bar{    
    margin: 0px;
    padding: 2px 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
div.bar.top, div.bar.bottom{
    position: absolute;    
}
div.bar.top{
    top:0%;
    left:0%;
}
div.bar.bottom{
    bottom:0%;
    left:0%;
}
div.bar label.title,.messagebox .sidebar label{
    text-align: center;
}
div.bar > .left_side,div.bar > .right_side,div.bar > .center_side{
    overflow: hidden;
}
div.bar > .left_side,div.bar > .right_side{
    flex: 1 1 14%;
}
div.bar > .right_side{    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 0px 0px 10px;
}
div.bar > .left_side{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 10px 0px 0px;
}
div.bar > .center_side{
    flex: 51 1 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
div.bar > .center_side:first-child{
    margin-left: 14% !important;
}
div.bar.crystal{    
    width:100%;
    z-index: 1000;
    padding: inherit;
    background-color: rgba(0, 0, 0, 0.69);  
    /*opacity:0.25;    */
}
div.bar.crystal.black{    
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.69), transparent);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.69), transparent);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.69), transparent);
}
/*div.bar.crystal:hover,div.bar.crystal:active{
    opacity: 1;
}*/
div.bar.crystal label.title{
    color:white;
    font-weight: bold;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}
/*         Container Main Apps         */
div.content{
    display:flex;
    overflow: hidden;   
    flex-flow: row nowrap;
    width: 175vw;
    height: 100vh;
    margin: 0px auto;
    padding: 0px;
}
div.content.slider[data-align="left"]{
    transform: translate(-50vw);
}
div.content div.body{    
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
div.content div.body section.page{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;   
}

/*      Menu Panel Config */
div.content div.menu{
    width: 75vw;
    height: 100vh;
    background: #FFF none repeat scroll 0% 0%;
    overflow-y: auto;
}
div.menu ul{
    margin: 0px;
    padding: 0px;
    display: block;
    position: relative;
    overflow: visible;
}
div.menu ul li a{
border-width: 1px 0px 0px;
border-style: solid;
margin: 0px;
display: block;
position: relative;
text-align: left;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
background-color: rgb(237, 237, 237);
border-color: #DDD;
padding: 16px 20px;
color: rgba(0, 0, 0, 0.71);
text-decoration: none;
}
div.menu ul li a:hover{
background-color: #C0C0C0;
border-color: #DDD;
color: #0856AE;
text-shadow: 0px 1px 0px #7D7A7A;
}
div.menu ul li a:after{
    padding:5px;
    position: absolute;
    right:15px;
    content:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiCgkgd2lkdGg9IjE0cHgiIGhlaWdodD0iMTRweCIgdmlld0JveD0iMCAwIDE0IDE0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxNCAxNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cG9seWdvbiBwb2ludHM9IjMuNDA0LDIuMDUxIDguMzU0LDcgMy40MDQsMTEuOTUgNS41MjUsMTQuMDcgMTIuNTk2LDcgNS41MjUsLTAuMDcxICIvPgo8L3N2Zz4K');
    }
div.menu ul li a.display:after{
    padding:5px;
    position: absolute;
    right:15px;
    content:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiCgkgd2lkdGg9IjE0cHgiIGhlaWdodD0iMTRweCIgdmlld0JveD0iMCAwIDE0IDE0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxNCAxNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cG9seWdvbiBwb2ludHM9IjExLjk0OSwzLjQwNCA3LDguMzU0IDIuMDUsMy40MDQgLTAuMDcxLDUuNTI1IDcsMTIuNTk2IDE0LjA3LDUuNTI1ICIvPgo8L3N2Zz4K');
}
div.menu ul li ul li a{
padding-left: 52px;
}

/*          App Messenger           */
div.content div.body.messenger .header, div.content div.body.messenger .header.hiden ~ *{
    padding-top: 50px;
}
div.content div.body.messenger .header{
    position: relative;
    overflow: hidden;
    flex: 3 1 35%;        
    margin: 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-end;
}
div.content div.body.messenger .header > div.cover{
    position: relative;
    opacity: 0;
    overflow:hidden;
    flex: 1 1 30%;
    cursor: pointer;
}
div.content div.body.messenger .header > div.cover > div.placeholder{
    overflow: hidden;
    align-self: center;
    position: absolute;
    top: 0px;
    right: 1%;
    background-color: black;
    padding: 5px;
    border-radius: 0.35em;
    font-weight: bold;    
}
div.content div.body.messenger .header > div.tag.bottom{
    overflow:hidden;
    text-align: left;
    position: relative;
    z-index: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
}
div.content div.body.messenger .header > div.tag.bottom{
    flex: 2 1 70%;
}
div.content div.body.messenger .header > div.tag > div.profile{
    align-self: center;
}
div.content div.body.messenger .header > div.tag > div.info{
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}
div.content div.body.messenger .header > div.tag > div.info > div.description{
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.35em;
}
div.content div.body.messenger .header > div.tag > div.info > div.description[contenteditable]{
    min-height: 1.35em;
    padding: 2px 5px;
    cursor:pointer;
    overflow-x: auto !important;
    overflow-y: hidden !important;
}
div.content div.body.messenger .header > div.tag > div.info > a.title{
    text-align: left;    
    font-size: 1.45em;
    text-shadow: 1px 1px 1px rgba(158, 157, 157, 0.3);
    line-height: 2.35em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*      Content Messenger       */
.header ~ *, div.content div.body.messenger .content{
    flex: 1 1 55%;
    overflow: hidden;
}
div.content div.body.messenger .content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    position: relative;    
    background-size: 10px 10px, 100% 100%;
}
div.content div.body.messenger .content .container{
    max-height: 100%;
    padding: 10px 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
/* class Important's Propertys */
*[data-transition="ease-out"],div.bar.crystal,*[data-transition="ease-out"] > *{
    transition: all 0.45s ease-out 0.25s;
}
.hiden:not([data-transition]){
    display: none !important;
}
.hiden[data-transition="ease-out"]{
    overflow: hidden !important;
    position: absolute !important;
    margin:0px !important;
    padding:0px !important;
    height: 0% !important;
    opacity: 0 !important;  
    
}
.scroll:not(.x):not(.y){
    overflow: auto !important; 
}
.scroll.x{
    overflow-x: auto !important;
    overflow-y: hidden !important;
}
.scroll.y{
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
/*        Panel Controls        */
div.panel{
    flex: 1 1 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    box-shadow: 0px -3px 37px rgba(0,0,0,.5) inset;
    border-bottom: 1px solid #83838366;
    overflow: hidden;
    padding-bottom: 5px;
}
div.panel h1.title{
    padding: 5px 10px;
    border-radius: 0.35em 0.35em 0em 0em;
    margin: 5px 3px;
    display: block;
    box-shadow: -1px -1px 13px rgba(254, 254, 254, 0.38) inset, 1px 1px 2px rgba(0,0,0,.25);
    border: 1px solid #83838366;
    background-color: #fff3;
    color: white;
    text-shadow: 1px 1px rgba(0,0,0,.5);
    cursor: pointer;
}
div.panel:not(.active){
    flex: 0 1 auto;
}
div.panel:not(.active) > div.container{
    height: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
}
div.panel h1.title:hover,div.panel.active h1.title{
    background-color: #fff;
    color: #3c3c3c;
}
/*      Iposts Controls     */
.Ipost,div.thumb{
    display: inline-flex;
    background-color: white;
    border-radius: 0.35em;
    padding: 5px 0px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: -1px 0px 5px rgba(0,0,0,.25) inset, 1px 1px 2px rgba(0,0,0,.25);
    overflow:hidden;
    position: relative;
    flex: 0 0 auto;
    
}
.Ipost{
   align-self: center;    
}
.Ipost > div.container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    line-height: 1.35em;
    color: #454545;
}
.Ipost > div.container >p{
    margin: 0.35em 0px;
    color: #5D5C5C;
    font-size: 1em;
}
.Ipost > div.container >small{
    font-size: 0.75em;
    font-style: italic;
    color: #7e7e7e;
}
.Ipost > div.mime{
    margin: 5px !important;
}
.Ipost > div.controls{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    align-self: stretch;
}
/*           Thumbnail Elements               */

div.thumb{
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin:5px;    
}
div.thumb > div.cover{
    flex: 1 1 30%;
    min-height: 120px;
    background-color: #cfcfcf;
    margin: -5px 0px;
    padding: 0px;
    box-shadow: 0px -12px 15px rgba(0,0,0,.25) inset;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
div.thumb > div.cover > img.cover{
    position: absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
}
div.thumb > div.caption,div.thumb > div.cover{
    position: relative;
}
div.thumb > div.caption{
    padding: 48px 5px 5px 5px;
    text-align: center;
    overflow: hidden;    
}
div.thumb > div.caption > *{
    display: block;
}
div.thumb > div.caption > a.link{
    font-size: 1.5em;
    font-weight: bold;
    color: #0C90D1;
    margin: -7px 5px 5px 5px;
}
div.thumb > div.caption > small{
    line-height: 2.35em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
div.thumb > div.cover > div.profile{
    bottom: -58%;
    margin: 0px;
}
@media screen and (min-width: 800px) {
    div.thumb{
        max-width: 320px;
    }
    div.content div.body.messenger .content .container.collections{
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
}
div.content div.body.middle{
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}