@import "controls";
@import "media";

.button{
	border: 0px none;
	border-radius: 4px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	margin: 2px;
	box-shadow: -1px -1px 8px rgba(0, 0, 0, 0.35) inset;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	max-width:99%;
	overflow: hidden;
	padding: 2px;
	@extend .text-align.center;
	@extend .transitions.linear;
	&not(.circle){
		padding: 15px 25px;
	}
	&.all{
  		margin: 2px auto !important;		
	}
	&:disabled, &.disabled{
	  cursor: auto;
	  background: none repeat scroll 0% 0% #8A9BA8 !important;		
	} 
	&:hover{
  		box-shadow: 1px 1px 2px rgba(0,0,0,.35) inset;
	}
	&a.circle{
	    display: inline-block;
	}
	&.circle{
	    border: none;    
	    margin:5px;
	    border-radius: 50%;
	    cursor:pointer;
	    flex: 0 0 auto;    
	    background-position: 0px 0px;
	    flex: 0 0 auto;
	}
	&.circle:disabled,&.circle.disabled{
	    background-color: #3E4042 !important;
	}
}


/* colors buttons elements circles*/
.circle.check,.circle.gamepad,.circle.search,.circle.link,.circle.adjunt,.circle.external{
    background-color:#6AAD8E;
}
.circle.add,.circle.refresh,.circle.undo{
    background-color:#5C927B;
}
.circle.delete, .circle.rec,.circle.heart{
    background-color:#EC6A6A;
}
.circle.delete, .circle.trash,.circle.reload,.circle.cancel{
    background-color:#C44D58;
}
.circle.visible, .circle.invisible,.circle.calendar{
     background-color:#F38630;
}
.circle.bar,.circle.back{
    background-color: #2B7C98;    
}
.circle.camera,.circle.capture{
    background-color:#57A46D;
}
.circle.location,.circle.mail,.circle.mic,.circle.mic,.circle.cloud,.circle.info,.circle.global,.circle.home,.circle.emoticons1,.circle.emoticons2{
    background-color: #0F9FD4;
}
.circle.edit{
    background-color: #F0C232;
}
.circle.edit:hover:not(span),.circle.edit:active:not(span){
    background-color: #FFC100;
}
.circle.star,.circle.shopping,.circle.car_shop,.circle.push,.circle.business,.circle.tag{
    background-color: #D4B555;
}
.circle.messages,.circle.star_empty,.circle.user,.circle.groups{
    background-color: #4A97B1;    
}
.circle.tel,.circle.shared,.circle.phone{
     background-color:#3FB8AF;
}
.circle.book,.circle.government{
    background-color:#EF7D67;
}
.circle.rss,.circle.comment,.circle.file,.circle.compass,.circle.coffe{
    background-color: #DE6953;
}
.circle.message{
    background-color:#6D8BA8;
}
.circle.music,.circle.movie,.circle.podcast,.circle.download{
    background-color: #3087A7;
}
.circle.box,.circle.certified{
    background-color: #7BA55D;
}
.circle.send-arrow,.circle.message-minimal,.circle.message-top{
    background-color: #EAEAEA;
    border: 1px solid #dbd4d4;
}
.circle:hover:not(span),.circle:active:not(span),.circle:focus{
    outline: none;
}
.circle.add:hover:not(span),.circle.add:active:not(span),.circle.refresh:hover:not(span),.circle.refresh:active:not(span),.circle.undo:hover:not(span),.circle.undo:active:not(span){
     background-color:#21AA6F;
}
.circle.government:hover:not(span),.circle.government:active:not(span),.circle.book:hover:not(span),.circle.book:active:not(span),.circle.coffe:hover:not(span),.circle.coffe:active:not(span),.circle.compass:hover:not(span),.circle.compass:active:not(span),.circle.file:hover:not(span),.circle.file:active:not(span),.circle.rss:hover:not(span),.circle.rss:active:not(span),.circle.comment:hover:not(span),.circle.comment:active:not(span){
    background-color: #BD4028;
}
.circle.delete:hover:not(span),.circle.delete:active:not(span),.circle.cancel:hover:not(span),.circle.cancel:active:not(span),.circle.trash:hover:not(span),.circle.trash:active:not(span),.circle.reload:hover:not(span),.circle.reload:active:not(span),.circle.heart:hover:not(span),.circle.heart:active:not(span),.circle.rec:hover:not(span),.circle.rec:active:not(span){
   background-color: #E32234;
}
.circle.message:hover:not(span),.circle.message:active:not(span){
    background-color: #486D92;
}
.circle.bar:hover:not(span),.circle.bar:active:not(span),.circle.back:hover:not(span),.circle.back:active:not(span){
    background-color:#096280;
}
.circle.box:hover:not(span),.circle.box:active:not(span),.circle.certified:hover:not(span),.circle.certified:active:not(span){
    background-color: #568337;
}
.circle.star:hover:not(span),.circle.star:active:not(span),.circle.shopping:hover:not(span),.circle.shopping:active:not(span),.circle.car_shop:hover:not(span),.circle.car_shop:active:not(span),.circle.push:hover:not(span),.circle.push:active:not(span),.circle.tag:hover:not(span),.circle.tag:active:not(span),.circle.business:hover:not(span),.circle.business:active:not(span){    
    background-color:#ECD078;
}
.circle.check:hover:not(span),.circle.check:active:not(span),.circle.check.active,.circle.adjunt:hover:not(span),.circle.adjunt:active:not(span),.circle.gamepad:hover:not(span),.circle.gamepad:active:not(span),.circle.search:hover:not(span),.circle.search:active:not(span),.circle.link:hover:not(span),.circle.link:active:not(span),.circle.external:hover:not(span),.circle.external:active:not(span),.circle.camera:hover:not(span),.circle.camera:active:not(span),.circle.capture:hover:not(span),.circle.capture:active:not(span){
    background-color:#39BA7F;
}
.circle.music:hover:not(span),.circle.music:active:not(span),.circle.movie:hover:not(span),.circle.movie:active:not(span),.circle.download:hover:not(span),.circle.download:active:not(span),.circle.podcast:hover:not(span),.circle.podcast:active:not(span),.circle.cloud:hover:not(span),.circle.cloud:active:not(span),.circle.global:hover:not(span),.circle.global:active:not(span),.circle.emoticons1:hover:not(span),.circle.emoticons1:active:not(span),.circle.emoticons2:hover:not(span),.circle.emoticons2:active:not(span),.circle.home:hover:not(span),.circle.home:active:not(span),.circle.info:hover:not(span),.circle.info:active:not(span),.circle.mail:hover:not(span),.circle.mail:active:not(span),.circle.mic:hover:not(span),.circle.mic:active:not(span),.circle.location:hover:not(span),.circle.location:active:not(span){
    background-color: #0F5C78;
}
.circle.visible:hover:not(span),.circle.visible:active:not(span),.circle.invisible:hover:not(span),.circle.invisible:active:not(span),.circle.calendar:hover:not(span),.circle.calendar:active:not(span){
    background-color: #DB680E;
}
.circle.shared:hover:not(span),.circle.shared:active:not(span),.circle.tel:hover:not(span),.circle.tel:active:not(span),.circle.phone:hover:not(span),.circle.phone:active:not(span){
    background-color: #5DC9C1;
}
.circle.messages:hover:not(span),.circle.messages:active:not(span),.circle.star_empty:hover:not(span),.circle.star_empty:active:not(span),.circle.groups:hover:not(span),.circle.groups:active:not(span),.circle.user:hover:not(span),.circle.user:active:not(span){
    background-color: #2A86A5;
}
.circle.send-arrow:hover:not(span),.circle.send-arrow:active:not(span),.circle.message-minimal:hover:not(span),.circle.message-minimal:active:not(span),.circle.message-top:hover:not(span),.circle.message-top:active:not(span){
    background-color: #E6E3E3;
}
.circle.gray{
    background-color: #EAEAEA !important;
    border: 1px solid #dbd4d4 !important;
}