@import "media";

/*    Flexbox   */
.flex{
  display: flex;
  &.column{
    flex-flow: column nowrap;
  }
  &.row{
    flex-flow: row nowrap;
    width:100%;
    overflow-x:hidden;
    position:relative;
  }
  /*  Flexbox Vertical Align */
  &.v-align{
    &.left{
      align-items: flex-start !important;
    }
    &.middle{
      align-items: center !important;
    }
    &.right{
      align-items: flex-end !important;
    }    
  }
  /*  Flexbox Horizontal Align */
  &.h-align{
    &.left{
      justify-content: flex-start !important;
    }
    &.middle{
      justify-content: center !important;
    }
    &.right{
      justify-content: flex-end !important;
    }
  }
  &.vh-align{
    &.middle{
      @extend .flex.h-align.middle;
      @extend .flex.v-align.middle;
    }
    &.left{
      @extend .flex.h-align.left;
      @extend .flex.v-align.left;
    }
    &.right{
      @extend .flex.h-align.right;
      @extend .flex.v-align.right;
    }
  }  
}
.shadow{
  &-bottom{    
    box-shadow: 0px 1px 5px rgba(0,0,0,.32);
    &-left{
      box-shadow: -1px 1px 5px rgba(0,0,0,.32);      
    }
    &-right{
      box-shadow: 2px 1px 5px rgba(0,0,0,.32);      
    }
  }
  &-top{
    box-shadow: 0px -1px 5px rgba(0,0,0,.32);
    &-left{
      box-shadow: -1px -1px 5px rgba(0,0,0,.32);      
    }
    &-right{
      box-shadow: 2px -1px 5px rgba(0,0,0,.32);      
    }    
  }
}
.border{
  &-top{
    border-top: 1px solid #c2c2c266;
  }
  &-bottom{
    border-bottom: 1px solid #c2c2c266;
  }
  &-left{
    border-left: 1px solid #c2c2c266;
  }
  &-right{
    border-right: 1px solid #c2c2c266;
  }
  &-all{
    border: 1px solid #c2c2c266;
  }
}
.text{
  &-align{
    &.left{
      text-align: left;
    }
    &.center{
      text-align: center;
    }
    &.right{
      text-align: right;
    }
    &.justify{
      text-align: justify;
    }
  }
}
.nowrap{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
}
.label{
  @extend .nowrap;
  font-size: 1.5em;
  font-weight: bold;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input{
    border: medium none;
    padding: 5px 15px;
    margin: 5px;
    font-family : inherit;
    box-sizing: border-box;
}
input:focus{
    outline: none;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.bar .navbar-toggle {
  background-color: #3f3b3b;
  border-color: #4b4b4b;
  .icon-bar {
    background-color: white;
  }
  &:hover, &:focus {
    background-color:#272727;
  }
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color: #dddddd;
  &:hover, &:focus {
    background-color: #dddddd;
  }
  .icon-bar {
    background-color: #888888;
  }
}
.navbar-default .navbar-toggle, .bar .navbar-toggle {
    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }
    .icon-bar + .icon-bar {
        margin-top: 4px;
    }
}

/*    Box container     */

div.box{
    display: flex;
    flex-flow:column nowrap;
    margin:5px 10px;
    border: 1px solid #c2c2c266;
    padding: 0px;
    border-radius: 0.25em;
    margin-top: 5px;
    max-width:350px;
    div.box-view{
        margin: 20px 25px;
    }
    div.sidebar{
        align-items:stretch;
        margin: 0px;
        padding:5px 15px;
        background-color: #edecec;
        border-bottom-right-radius: 0.25em;
        border-bottom-left-radius: 0.25em;
        span, label, p{
            font-weight: bold;
        }
    }
    .indication{
        @extend .label;
        font-size: 2.5em;
    }   
}
div.panel{
    &.flex.row{
        overflow-x:auto;
    }
    .layout{
        margin:5px 10px;
    }
}

div.fieldset{
    display: block;
    width: 100%;
    margin: 5px auto;
    &[data-align="left"] div.item,& div.item[data-align="left"]{
        justify-content: flex-start;
    }
    &[data-align="right"] div.item,& div.item[data-align="right"]{
        justify-content: flex-end;
    }
    &[data-align="around"] div.item,& div.item[data-align="around"]{
        justify-content: space-around;
    }
    &[data-align="center"] div.item,& div.item[data-align="center"]{
        justify-content: center;
    }
    div.item{
        display: flex;
        flex-flow: row nowrap;
        padding: 5px;
        border-bottom: 1px solid #E4E4E4;   
        margin: 5px 0px;
        align-items: center;
        justify-content: center;
    }
    div.item:first-child{
        border-top: 1px solid #E4E4E4;
    }    
    &:not(.noresponse) div.item > *{
        margin:5px 10px;
    }
    div.item label{
        font-weight: bold;
        font-family: inherit;
    }
    div.item div.container-element, div.item > div.toolbox{
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
    }
    div.item > div.toolbox{
        flex-flow: row nowrap;
        justify-content: center;
    }
    div.item div.container-element{
        flex-flow: column nowrap;
        justify-content: center;
    }
    &.control div.item div.container-element{
        flex: 1 1 auto;
    }
    div.item button.button{
        flex:0 0 auto;
    }
}
.ec-stars-wrapper {
    /* Espacio entre los inline-block (los hijos, los `a`) 
       http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
    font-size: 0;
    /* Podríamos quitarlo, 
        pero de esta manera (siempre que no le demos padding), 
        sólo aplicará la regla .ec-stars-wrapper:hover a cuando
        también se esté haciendo hover a alguna estrella */
    display: inline-block;
    a, small {
        text-decoration: none;
        display: inline-block;
        /* Volver a dar tamaño al texto */
        font-size: 32px;
        font-size: 2rem;    
        color: #FFF;
    }
    &.min a, &.min small {
        font-size: 1rem;
    }
    &.active > a:hover ~ a,& > a[seleted] ~ a ,& > small[seleted] ~ small {
        color: #D7D4D4;
    }
    &.active:hover a,& a,& small{
        color: rgb(39, 130, 228);
    }
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */

@media screen and (max-width: $WeightGalaxy) {
    div.container{
        width:100%;
    }
    div.box{
        width:100% !important;
    }
    .flex.row:not(.noresponse){
        flex-flow: column nowrap !important;
        align-items: stretch !important;
        justify-content: flex-start !important;
        overflow:hidden;
        width:100%;
        margin: 5px auto;
    }
}






.form-group{
  margin-bottom: 15px;
  label{
    margin-bottom: 15px;
  }

  input,
  input::-webkit-input-placeholder {
      font-size: 11px;
      padding-top: 3px;
  }
  
}

.main-login{
  background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 330px;
    padding: 40px 40px;

}

.login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}