/*     Medidas telefonos     */

$WidthIphone4: 320px;
$HeightIphone4: 480px;

$WidthIphone5:320px;
$HeightIphone5:568px;


$WidthIphone6:375px;
$HeightIphone6:667px;


$WidthNexus4:348px;
$HeightNexus4:598px;


$WidthNexus5:360px;
$HeightNexus5: $HeightNexus4;

$WeightGalaxy:360px;
$HeightGalaxy:640px;

/*     Medidas telefonos     */


/*     Medidas tablet     */

$WeightGalaxyTab:600px;
$heightGalaxyTab:1024px;

$WeightNexus7:603px;
$HeightNexus7:966px;

$WeightNexus10:800px;
$HeightNexus10:1280px;

/*     Medidas tablet     */

/*     Medidas desktop     */
$widthDesktopMin:$heightGalaxyTab;
$HeightDesktopMin:$WeightGalaxyTab;

$widthDesktopMed:$HeightNexus10;
$HeightDesktopMed:$WeightNexus10;

$widthDesktopMax:1400px;
$HeightDesktopMax:900px;

/*     Medidas desktop     */


