@import "~bootstrap/scss/bootstrap.scss";
@import "app";
@import "icons";
@import "colors";
@import "controls";
@import "buttons";

div.icon{
	width:256px;
	height: 256px;
	background-image: url("/icons/256x256.png");
	background-size: 100% 100%;
	background-position: center;
	background-position: center;
	background-repeat: no-repeat;
}
div.icon.animations{
	animation-name: animations-icon;
	-webkit-animation-name: animations-icon;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-duration: 2.5s;
	-webkit-animation-duration: 2.5s;	
}
@keyframes animations-icon{
    0%{
        opacity:0;    
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}